<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-gapless">
                <div class="column is-half">
                    <h1 class="title">
                        What's the weather like?
                    </h1>
                </div>
                <div class="column is-one-quarter">
                  
                </div>
                <div class="column is-one-quarter">
                    <a href="{% url 'City_Weather'  %}">
                        <h1 class="title">
                            Home
                        </h1>
                    </a>
                </div>
              </div>
        </div>
    </div>
</section>